.auth-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-third);
  min-width: 400px;
  max-width: 400px;
  border-radius: 1rem;
  border: 1px solid var(--color-border) !important;
  margin: 4rem auto;
  padding: 2rem 2rem 3rem;
  gap: .2rem;

  & h1 {
    margin-bottom: .25rem;
    padding-bottom: 0;
    color: var(--color-header);
  }

  & p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text-secondary);
  }

  & .form-group {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: .05rem;
  }

  & .button {
    margin-top: 1.5rem;
  }
}