$color-gray: #4e5057;
$color-gray-light: #a1a4b0;
$color-gray-lightest: #fcfcfc;
$color-white: #ffffff;
$color-brown: #3d2b2e;
$color-cream: #ebe5d9;
$color-cream-light: #f7f5f0;
$color-green: #05664a;
$color-blue: #2179aa;

:root {
  --color-background: #{$color-gray-lightest};
  --color-background-secondary: #{$color-brown};
  --color-background-third: #{$color-cream-light};

  --color-btn-text: #{$color-white};
  --color-btn-background: #{$color-brown};
  --color-btn-background-secondary: #{$color-green};
  --color-btn-background-third: #{$color-cream};

  --color-link: #{$color-blue};

  --color-text: #{$color-gray};
  --color-text-secondary: #{$color-gray-light};
  --color-header: #{$color-brown};
}